<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription - Yu-Gi-Oh!</title>
</head>
<body>
<h1>Créer un compte</h1>
<form th:action="@{/auth/register}" method="post" th:object="${player}">
    <label>Nom d'utilisateur :</label>
    <input type="text" th:field="*{username}" required><br>
    <label>Email :</label>
    <input type="email" th:field="*{email}" required><br>
    <label>Mot de passe :</label>
    <input type="password" th:field="*{password}" required><br>
    <button type="submit">S'inscrire</button>
</form>
</body>
</html>